@media (max-width: 425px)
       {
 /*****login responsive******/  
.info {
      width: 50%;
      }     

/*****main responsive******/

.contenido{
      display: flex;
      flex-direction: column;
      }


     }

 