@media (max-width: 575px)
       {
 /*****login responsive******/          
.logo {
        display: flex;
        flex-direction: row;  
        }
.logo h1 {
            margin-left: 60px;
            text-align: center;
            }
.info {
        width: 70%;
        }        
/*****main responsive******/
.contenido {
            display: flex;
            flex-direction: column;
            max-width: 575;
         }
        }

/**/
  