/*barra de navegacion*/

/*.navbar { ya esta en sass-----------
        font-size: xx-large;
        font-weight: 900;
        margin-top: 0px;
        height: 30%;
        display: block;
        font-family: sans-serif;
        }*/

/* .nav-link:hover { ya esta en sass 
                border-bottom: 3px solid #ffffff; *//*para poner el borde de abajo*/
                /*border-radius: 1px;
                } */

 /*grid para el contenido padre*/
.contenido {
           background-color: green;
           margin-top: 0%;
           display: grid;
           grid-template: repeat(2, 1fr) / repeat(2, 1fr);/*creo los 4 grids*/
           justify-items: center;
           justify-content: center;
           margin-left: auto;
           margin-right: auto;
           border: 1px solid rgb(101, 193, 224);
           width: 85%;
           text-align: center;
           box-sizing: border-box;
           }
.contenido * {
             color: black;
             font-size: large;
             font-family: sans-serif;
             font-weight: 800;
             border-radius: 6px;
             }

/*hijos del grid usando flex-direction row*/
.alta,.estatus,.actualizar,.demo {                          
                                 font-weight: 600;
                                 margin-top: 160px;
                                 margin-bottom: 10px;
                                 background-color: #ffffff;
                                 font-size: large;
                                 gap: 1rem 2rem;
                                 opacity: 0.5;
                                 width: 90%;
                                 text-align: center;
                                 border-radius: 6px;
                                 display: flex;
                                 flex-direction: row;/*cambio direcion*/
                                 /*para que no tape la barra en el eje z*/

                                }
 /*tamaño de iamgen*/                               
.alta img,.estatus img,.actualizar img,.demo img {
          width: 30%;
          }

/*hago visible con :hover*/
.alta:hover  input, .demo:hover input, .estatus:hover input, .actualizar:hover input {
                     visibility: visible;
                     background-color: rgb(207, 221, 220);
                     }

/*escondo inputs con visibility:hidden*/
.alta input,.estatus input,.actualizar input,.demo input {
            width: 100%;/*tip x centrar*/
            margin-left: auto; 
            margin-right: auto;
            border-radius: 6px;
            /*visibility: hidden;*/
            text-decoration: none;
            text-align: center;
            }

/*boton de enviar*/
.enviar {
        text-align: center;
        width: 70%;
        margin-top: 8px;
        border: 1px solid rgb(101, 193, 224);
        margin-right: auto;
        margin-left: auto;
        }
.enviar button {
              margin: 10px 10px;
              background-color: rgb(101, 193, 224);
              border-radius: 4px;
              font-weight: 600;
              font-family: sans-serif;
              font-size: large;
              }
/*responsive se genera en sass la parte resposive x modularidad 
@media (max-width: 575px) {
.contenido {
         display: flex;
         flex-direction: column;.
         max-width: 575;
         }
}*/
.carru {
        margin-top: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        }
.carousel-item  img {
                 /*height:vh;*/
                 border-radius: 6px;
                 }
.carousel-item p {
              font-weight: 700;
}                            